# ------------------ CONSTANTS ---------------------

PATCH_WIDTH = 128
PATCH_HEIGHT = 128
PATCH_SIZE = 128
PATCH_CHANNELS = 3
DEFAULT_STRIDE = 40


# ----------------- DATA PATHS ---------------------

DATA_FOLDER = '/Users/macbook/Desktop/SKOLA/DP/Data/'


# SMALL DATASET 

SMALL_FOLDER = DATA_FOLDER + 'small/'

ORIGINAL_IMG_PATH = SMALL_FOLDER + 'images'
ORIGINAL_MASK_PATH = SMALL_FOLDER + 'masks'

TRAIN_MASK_PATH = SMALL_FOLDER + 'masks/train/'
TEST_MASK_PATH = SMALL_FOLDER + 'masks/test/'

TRAIN_IMG_PATH = SMALL_FOLDER + 'images/train/'
TEST_IMG_PATH = SMALL_FOLDER + 'images/test/'

HEMATO_IMG_PATH = SMALL_FOLDER + 'hemato_images'
HEMATO_TRAIN_IMG_PATH = SMALL_FOLDER + 'hemato_images/train/'
HEMATO_TEST_IMG_PATH = SMALL_FOLDER + 'hemato_images/test/'

MACENKO_IMG_PATH = SMALL_FOLDER + 'macenko_images'
MACENKO_TRAIN_IMG_PATH = SMALL_FOLDER + 'macenko_images/train/'
MACENKO_TEST_IMG_PATH = SMALL_FOLDER + 'macenko_images/test/'

VAHADANE_IMG_PATH = SMALL_FOLDER + 'vahadane_images'
VAHADANE_TRAIN_IMG_PATH = SMALL_FOLDER + 'vahadane_images/train/'
VAHADANE_TEST_IMG_PATH = SMALL_FOLDER + 'vahadane_images/test/'

SHRANK_IMG_PATH = SMALL_FOLDER + 'shrank_images'
SHRANK_MASK_PATH = SMALL_FOLDER + 'shrank_masks'
SHRANK_TRAIN_MASK_PATH = SMALL_FOLDER + 'shrank_masks/train/'
SHRANK_TEST_MASK_PATH = SMALL_FOLDER + 'shrank_masks/test/'
SHRANK_TRAIN_IMG_PATH = SMALL_FOLDER + 'shrank_images/train/'
SHRANK_TEST_IMG_PATH = SMALL_FOLDER + 'shrank_images/test/'



# MONUSAC DATASET

MONUSAC_FOLDER = DATA_FOLDER + 'MoNuSAC_images_and_annotations/'

MONUSAC_DATA = MONUSAC_FOLDER + 'data/'
MONUSAC_IMGS = MONUSAC_FOLDER + 'images/'
MONUSAC_MASKS = MONUSAC_FOLDER + 'masks/'
MONUSAC_GENERATED_MASKS = MONUSAC_FOLDER + 'MoNuSAC_masks/'


# ----------------- DUMP/MODEL PATHS ---------------------

MODELS_PATH = '/Users/macbook/Desktop/SKOLA/DP/code/bla/data/'

EXAMPLE_MODEL = MODELS_PATH + 'mod_1_2.h5'


DUMPS_PATH = '/Users/macbook/Desktop/SKOLA/DP/code/bla/data/'
